{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
<link rel="stylesheet" href="{% static 'css/media.css' %}">
{% endblock %}

{% block title %}СМИ о нас - Фонд Астана{% endblock %}

{% block content %}
        <section class="media-section">
          <div class="container">
              <div class="section-header">
                  <h2 class="section-title">СМИ о нас</h2>
              </div>

              <div class="cards-grid">
                  <!-- Статья о Дне домбры -->
                  <div class="card">
                      <div class="card-stats">
                          <span class="stat-badge">08.07.2024</span>
                      </div>
                      <h3 class="card-title">Национальный день домбры отметили в Москве</h3>
                      <div class="card-content">
                          <p>День главного казахского музыкального инструмента вместе с казахстанцами отметили и кандасы в России. Московский фонд содействия дружбы народов и национальных культур «Астана» собрал гостей из национальных объединений российской столицы.</p>
                      </div>
                      <a href="https://24.kz/ru/news/culture/660179-natsionalnyj-den-dombry-otmetili-v-moskve" target="_blank" class="card-link">Подробнее ›</a>
                  </div>
              </div>
          </div>
      </section>
{% endblock %}
